
html, body {
  margin: auto;
}
.button {
    background-color: $color-secondary;
    color: $white;
    font-family: $secondary-font;
    font-size: 20px;
    border-radius: 5px;
    padding-left: $space-4;
    padding-right: $space-4;
}

.headerContainer {
    .navContainer {
      .nav-menu {
      float: right;
      li {
        list-style-type: none;
        display: inline;
        font-family: $default-font;
        font-size: 20px;
        padding: $space-1;
        a {
          text-decoration: none;
          color: #2C2D3E;
        }
        @media screen and (max-width: 1300px) {
          a {
            display: none;
          }
        }
        .active {
          padding-bottom: $space-1;
          border-bottom: 3px solid #00E0C4;
        }
        .icon {
          display: none;
        }
        @media screen and (max-width: 1300px) {
          .icon {
            float: right;
            display: block;
          }
        }
      }
    } 
  }
  @media screen and (max-width: 1300px) {
    .nav-menu.responsive {
      position: relative;
    }
    .nav-menu.responsive li a {
        float: none;
        display: block;
        text-align: left;
      }
      .nav-menu.responsive li a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
  }
}

.homeContainer {
    background-color: $color-primary; 
    overflow: hidden;
    clip-path: ellipse(150% 100% at 50% 0%);
    @media screen and (max-width: 1300px){
      clip-path: ellipse(220% 100% at 50% 0%);
    }
  .home-left-section {
    .services-title {
      font-family: $default-font;
      font-size: 49px;
      color: $white;
    }
    .services-description {
      font-family: $default-font;
      font-size: 24px;
      color: $white;
      line-height: 2rem;
      margin-top: -5rem;
    }
  }
  .image-one {
    padding-top: $space-4;
    @media only screen and (max-width: 1024px) {
      padding-right: $space-3;
      padding-left: $space-3;
      padding-top: $space-1;
    }
  }
  .main-quote-section {
      background-image: url("/projects/hellofuture/hellofuture3/www/img/Rectangle.png");
			background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
       @media screen and (max-width: 1900px){
         background-position: center center;
        }
    .main-quote {
      font-family: $secondary-font;
      color: $white;
      font-size: 39px;
      text-align: center;
      @media only screen and (max-width: 640px) {
        font-size: 30px;
        margin: auto;
        padding: auto;
      }
    }
    .main-quote-author {
      font-family: $default-font;
      font-size: 30px;
      color: $white;
      text-align: center;
    }
  } 
}

.dijonContainer {
  .image-two {
    @media only screen and (max-width: 1024px) {
      padding-right: $space-2;
      padding-left: $space-2;
    }
  }
  .dijon-title {
    font-family: $secondary-font;
    font-size: 35px;
    @media only screen and (max-width: 1024px) {
      text-align: center;
      padding-top: $space-2;
    }
    .dijon-title-snippet {
      color: $color-primary;
    }
  }
  .dijon-description {
    font-family: $default-font;
    font-size: 18px;
    color: #7792AE;
    line-height: 2rem;
    @media only screen and (max-width: 1024px) {
        padding-left: $space-3;
      }
  }
  .dijon-projects {
    margin-left: -3rem;
    padding-bottom: $space-1;
    li {
      list-style-type: none;
      font-family: $secondary-font;
      font-size: 20px;
      margin: $space-1;
      img {
        margin-right: $space-1;
      }
    }
    @media only screen and (max-width: 1024px) {
      padding-left: $space-4;
    }
  }
  .dijon-button {
    @media only screen and (max-width: 1024px) {
        margin-left: $space-3;
        margin-top: $space-1;
    }
  }
}

  .webdevContainer {
    background-color: $color-tertiary;
    .web-title {
      font-family: $secondary-font;
      @media only screen and (max-width: 1024px) { 
        margin: auto;
        padding-bottom: $space-1;
      }
    } 
    .web-title-snippet {
        color:  $color-primary;
    }
    .web-description {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-2;
      }
    }
    .coding-languages {
      margin-left: -3rem;
      li {
        font-family: $secondary-font;
        font-size: 20px;
        list-style-type: none;
        color: #2C2D3E;
        margin: $space-1;
        img {
          margin-right: $space-1;
        }
      }
      @media only screen and (max-width: 1024px) {
        padding-left: $space-1;
      }
    }
    .image-three {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-4;
        margin: auto;
      }
    }
    .web-title {
      font-family: $default-font;
      font-size: 35px;
    }
    .web-description {
      font-family: $default-font;
      line-height: 2rem;
      color: #7792AE;
      font-size: 18px;
    }
  }



  .devopsContainer {
    .image-four {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-4;
      }
     }
    .devops-section {
      .devops-title {
        font-family: $secondary-font;
        font-size: 35px;
        .devops-title-snippet {
          color:  $color-primary;
        }
      }
      .devops-description {
        font-family: $default-font;
        color: #7792AE;
        font-size: 18px;
        line-height: 2rem;
        @media only screen and (max-width: 1024px) {
          padding-right: $space-2;
        }
      }
      .devops-list{
        margin-left: -3rem;
        li {
          font-family: $secondary-font;
          font-size: 20px;
          list-style-type: none;
          color: #2C2D3E;
          margin: $space-1;
          img {
          margin-right: $space-1;
          }
        }
        @media only screen and (max-width: 1024px) {
          padding-left: $space-2;
          padding-top: $space-1;
        }
      }
      @media only screen and (max-width: 1024px) {
        padding: 0;
      }
    }
  }

  .startupContainer {
    background-color: $color-tertiary;
    .startup-title {
      font-family: $secondary-font;
      font-size: 35px;
      color: $color-primary;
    }
    .startup-description {
      font-family: $default-font;
      color: #7792AE;
      font-size: 18px;
      line-height: 2rem;
    }
    .startup-list{
      padding-left: $space-1;
      li {
        font-family: $secondary-font;
        font-size: 20px;
        list-style-type: none;
        color: #2C2D3E;
        margin: $space-1;
        img {
          margin-right: $space-1;
        }
      }
    } 
    .image-five {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-4;
        padding-left: $space-4;
      }
    }
  }

  .dinosaurContainer {
    .dinosaur-title {
      font-family: $secondary-font;
      font-size: 35px;
      @media only screen and (max-width: 1024px) {
        padding-left: $space-4;
        padding-top: $space-2;
      }
    }
    .dinosauraas-title-snippet {
      color: $color-primary;
    }
    .dinosaur-description {
      font-family: $default-font;
      color: #7792AE;
      font-size: 18px;
      line-height: 2rem;
       @media only screen and (max-width: 1024px) {
        padding-left: $space-4;
      }
    }
    .dinosaur-list{
      margin-left: -3rem;
      li {
        font-family: $secondary-font;
        font-size: 20px;
        list-style-type: none;
        color: #2C2D3E;
        margin: $space-1;
        img {
          margin-right: $space-1;
        }
      }
      @media only screen and (max-width: 1024px) {
        padding-left: 7rem;
        margin-left: -$space-2;
        padding-bottom: $space-2;
      }
    } 
    .dinosaur-button {
      @media only screen and (max-width: 1024px) {
        margin-left: $space-4;
      }
    }
  }

  .quotesContainer {
    background-color: $color-primary;
    .quotes-title {
      font-family: $tertiary-font;
      text-align: center;
      font-size: 35px;
      color: $white;
    }
    p {
      font-family: $default-font;
      font-size: 16px;
      color: $white;
      padding-left: $space-2;
      padding-right: $space-2;
      margin: $space-1;
    }
    .quotes-section {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      margin-bottom: $space-2;
      .quotes-description {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        margin: auto;
        padding-top: $space-1;
        font-family: $default-font;
        line-height: 2;
        position: relative;
      }
      .quotes-description:before {
        position: absolute;
        bottom: 48%;
        bottom: -10px;
        content: '';
        margin: -5px 0 0;
        border-top: solid 10px rgba(255, 255, 255, 0.3);
          border-left: solid 9px transparent;
          border-right: solid 9px transparent;  
      }
      .quote-one {
        padding-bottom: $space-4;
      }
      .quote-two {
        padding-bottom: $space-2;
      }
      .quote-four {
        padding-bottom: $space-2;
      }
      .quote-three {
         @media only screen and (max-width: 1024px) {
          padding-bottom: $space-2;
        }
      }
      .quote-image {
        padding-top: $space-1;
        margin-left: $space-1;
      }
      .quoted-person {
        padding-left: $space-2;
        .name {
          font-family: $tertiary-font;
        }
         @media only screen and (max-width: 1024px) {
          padding-left: 5rem;
        }
      }
    }
  }

  .newsContainer {
    .row {
      padding-left: $space-4; 
      padding-right: $space-4;
       @media only screen and (max-width: 1024px) {
         padding-left: 0;
         padding-right: 0;
         margin-right: 0;
      }
      .news-title {
        font-family: $tertiary-font;
        text-align: center;
        font-size: 35px;
      }
      .news-section {
        background-color: #EE5289;
        border-radius: 10px;
        margin-left: $space-3;
        @media only screen and (max-width: 1024px) {
         margin-bottom: $space-2;
         margin-left: $space-4;
        }
        .crop {
          height: 400px;
          overflow: hidden;
        }
        .crop img {
          height: 100%;
        }
      }
      .news-subtitle {
        font-family: $tertiary-font;
        font-size: 26px;
        color: $white;
      }
      p {
        font-family: $default-font;
        font-size: 16px;
        line-height: 2rem;
        color: $white;
      }
    }
  }

  .contactContainer {
      background-color: $color-tertiary;
    .contact-title {
      text-align: center;
      font-family: $default-font;
      font-size: 35px;
    }
    .phone-section {
      background-color: $color-primary;
      border-radius: 10px;
      color: $white;
      height: 400px;   
      @media only screen and (max-width: 1024px) {
         margin-bottom: $space-2;
         margin-left: 4rem;
      }   
      .phone-title {
        font-family: $tertiary-font;
      }
      .phone-number {
        font-family: $default-font;
        font-size: 24px;
        color: $white;
      }
      p {
        font-family: $default-font;
        font-size: 16px;
        line-height: 2rem
      }
    }
    .office-section {
      background-color: $color-primary;
      border-radius: 10px;
      color: $white;
       .crop {
          height: 400px;
          overflow: hidden;
        }
        .crop img {
          height: 100%;
        }
      h1 {
        font-family: $tertiary-font;
      }
      .address {
        font-family: $default-font;
        font-size: 24px;
        list-style-type: none;
      }
      p {
        font-family: $default-font;
        font-size: 16px;
        line-height: 2rem;
      }
    }
  }

.contactFormContainer {
  .contact-form-section{
    h1 {
      font-family: $tertiary-font;
      font-size: 35px;
    }
    h2 {
      font-family: 'Proxima Nova';
      font-size: 18px;
    }
    input {
      border-color: $color-primary;
    }
   input::placeholder {
      color: #7792AE;
      font-size: 18px;
      font-family: 'Proxima Nova';
    }
    textarea {
      border-color: $color-primary;
    }
    textarea::placeholder {
      color: #7792AE;
      font-size: 18px;
      font-family: 'Proxima Nova';
    }
    .submit-button {
      background-color: $color-secondary;
      color: $white;
      font-family: $default-font;
      font-size: 20px;
      border-radius: 5px;
    }
  }
}

.footer-section {
  background-color: $color-primary;
  p {
    font-family: $default-font;
    font-size: 16px;
    color: $white;
    line-height: 2rem;
  }
}
