
.nav-container {
  .nav-menu {
  float: right;
  li {
    list-style-type: none;
    display: inline;
    font-family: Source Sans Pro;
    font-size: 20px;
    padding: $space-1;
  }
 }
}

.container-1 {
  background-color: $color-primary;
}
.block-1-left {
  .services-title {
    font-family: Source Sans Pro;
    font-size: 49px;
    color: $white;
  }
  .services-description {
    font-family: Source Sans Pro regular;
    font-size: 22px;
    color: $white;
    margin-top: -5rem;
  }
  .services-button {
    background-color: $color-secondary;
    color: $white;
    border-color: #979797;
    font-family: Source Sans Pro SemiBold;
    font-size: 20px;
    border-radius: 5px;
  }
}

.quote-container {
    .services-quote {
    font-family: Source Sans Pro SemiBold;
    color: $white;
    font-size: 39px;
    text-align: center;
  }
  .services-quote-author {
    font-family: Source Sans Pro regular;
    font-size: 30px;
    color: $white;
    text-align: center;
  }
}

.dijon-title {
  font-family: Source Sans Pro;
  font-size: 35px;
  .dijon-title-snippet {
     color:  $color-primary;
  }
}

.dijon-description {
  font-family: Source Sans Pro regular;
  font-size: 18px;
  color: #7792AE;
}

.dijon-projects {
  li {
    list-style-type: none;
    font-family: Source Sans Pro SemiBold;
    font-size: 20px;
    margin: $space-1;
    img {
      margin-right: $space-1;
    }
  }
}

  .dijon-button {
    background-color: $color-secondary;
    color: $white;
    font-family: Source Sans Pro SemiBold;
    font-size: 20px;
    border-radius: 5px;
  }

  .web-dev-section {
    background-color: $color-tertiary;

    .web-dev-title-snippet {
        color:  $color-primary;
    }
    h1 {
      font-family: Source Sans Pro;
      font-size: 35px;
    }

    ul li {
      font-family: Source Sans Pro Bold;
      font-size: 20px;
      list-style-type: none;
      color: #2C2D3E;
      margin: $space-1;
      img {
      margin-right: $space-1;
      }
    }
    p {
      font-family: Source Sans Pro;
      color: #7792AE;
      font-size: 18px;
    }
    .contact-us-button {
      background-color: $color-secondary;
      color: $white;
      font-family: Source Sans Pro SemiBold;
      font-size: 20px;
      border-radius: 5px;
    }
  }

  .devops-section {
    h1 {
      font-family: Source Sans Pro;
      font-size: 35px;
      .devops-title-snippet {
        color:  $color-primary;
      }
    }
    p {
      font-family: Source Sans Pro;
      color: #7792AE;
      font-size: 18px;
    }
    ul li {
      font-family: Source Sans Pro;
      font-size: 20px;
      list-style-type: none;
      color: #2C2D3E;
      margin: $space-1;
      img {
      margin-right: $space-1;
      }
    }

    .devops-button {
      background-color: $color-secondary;
      color: $white;
      font-family: Source Sans Pro SemiBold;
      font-size: 20px;
      border-radius: 5px;
    }
  }

  .startup-section {
    background-color: $color-tertiary;
    h1 {
      font-family: Source Sans Pro;
      font-size: 35px;
      color:  $color-primary;
    }
    p {
      font-family: Source Sans Pro;
      color: #7792AE;
      font-size: 18px;
    }
     ul li {
      font-family: Source Sans Pro;
      font-size: 20px;
      list-style-type: none;
      color: #2C2D3E;
      margin: $space-1;
      img {
      margin-right: $space-1;
      }
    }
    .startup-button {
      background-color: $color-secondary;
      color: $white;
      font-family: Source Sans Pro SemiBold;
      font-size: 20px;
      border-radius: 5px;
    }
  }

  .dinosauraas-section {
    h1 {
      font-family: Source Sans Pro;
      font-size: 35px;
    }
    .dinosauraas-title-snippet {
      color:  $color-primary;
    }
    p {
      font-family: Source Sans Pro;
      color: #7792AE;
      font-size: 18px;
    }
     ul li {
      font-family: Source Sans Pro;
      font-size: 20px;
      list-style-type: none;
      color: #2C2D3E;
      margin: $space-1;
      img {
      margin-right: $space-1;
      }
    }
    .dinosauraas-button {
      background-color: $color-secondary;
      color: $white;
      font-family: Source Sans Pro SemiBold;
      font-size: 20px;
      border-radius: 5px;
    }
  }

  .quotes-container {
    background-color: $color-primary;
    .quotes-title {
      font-family: Source Sans Pro;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    p {
      font-family: Source Sans Pro;
      font-size: 16px;
      color: white;
    }
    .quotes-section {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3%;
      .quotes-description {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3%;
      }
    }
  }
