
html, body {
  margin: auto;
}
.button {
    background-color: $color-secondary;
    color: $white;
    font-family: $secondary-font;
    font-size: 20px;
    border-radius: 5px;
    padding-left: $space-4;
    padding-right: $space-4;
}

.nav-container {
  .nav-menu {
    float: right;
  li {
    list-style-type: none;
    display: inline;
    font-family: $default-font;
    font-size: 20px;
    padding: $space-1;
    a {
      text-decoration: none;
      color: #2C2D3E;
    }
    @media screen and (max-width: 1300px) {
      a {
        display: none;
      }
    }
    .active {
      padding-bottom: $space-1;
      border-bottom: 3px solid #00E0C4;
    }
    .icon {
      display: none;
    }
     @media screen and (max-width: 1300px) {
      .icon {
        float: right;
        display: block;
      }
    }
  }
 }
  @media screen and (max-width: 1300px) {
    .nav-menu.responsive {
      position: relative;
    }
      .nav-menu.responsive li a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .nav-menu.responsive li a {
        float: none;
        display: block;
        text-align: left;
      }
  }
}

.container-1 {
  background-color: $color-primary;
}
.block-1-left {
  .services-title {
    font-family: $default-font ;
    font-size: 49px;
    color: $white;
    @media only screen and (max-width: 640px) {
      font-size: 30px;
      margin: auto;
      padding: auto;
	  }
  }
  .services-description {
    font-family: $default-font ;
    font-size: 22px;
    color: $white;
    margin-top: -5rem;
    @media only screen and (max-width: 640px){
      margin: auto;
      padding-right: $space-4;
    }
  }
}


  .image-one {
    padding-top: $space-4;
    @media only screen and (max-width: 1024px) {
      padding-right: $space-3;
      padding-top: $space-1;
    }
  }


.quote-container {
    .services-quote {
    font-family: $secondary-font;
    color: $white;
    font-size: 39px;
    text-align: center;
    @media only screen and (max-width: 640px) {
      font-size: 30px;
      margin: auto;
      padding: auto;
	  }
  }
  .services-quote-author {
    font-family: $default-font;
    font-size: 30px;
    color: $white;
    text-align: center;
  }
}

.image-two {
  padding-left: $space-2;
    @media only screen and (max-width: 1024px) {
      padding-right: $space-3;
    }
}

.dijon-title {
  font-family: $secondary-font;
  font-size: 35px;
  @media only screen and (max-width: 1024px) {
      text-align: center;
      padding-top: $space-2;
    }
  .dijon-title-snippet {
     color:  $color-primary;
  }
}

.dijon-description {
  font-family: $default-font;
  font-size: 18px;
  color: #7792AE;
  @media only screen and (max-width: 1024px) {
      padding-left: $space-3;
    }
}

.dijon-projects {
  margin-left: -3rem;
  padding-bottom: $space-1;
  li {
    list-style-type: none;
    font-family: $secondary-font;
    font-size: 20px;
    margin: $space-1;
    img {
      margin-right: $space-1;
    }
  }
  @media only screen and (max-width: 1024px) {
      padding-left: $space-4;
    }
}

.button-1 {
  @media only screen and (max-width: 1024px) {
      margin-left: $space-3;
      margin-top: $space-1;
  }
}

  .web-dev-section {
    background-color: $color-tertiary;
    .web-title {
      font-family: $secondary-font;
      @media only screen and (max-width: 1024px) { 
        margin: auto;
        padding-bottom: $space-1;
      }
    } 

    .web-dev-title-snippet {
        color:  $color-primary;
    }
    .web-description {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-2;
      }
    }
    .coding-languages {
      margin-left: -3rem;
      @media only screen and (max-width: 1024px) {
        padding-left: $space-1;
      }
    }
    .web-image {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-4;
        margin: auto;
      }
    }

    h1 {
      font-family: $default-font;
      font-size: 35px;
    }

    ul li {
      font-family: $secondary-font;
      font-size: 20px;
      list-style-type: none;
      color: #2C2D3E;
      margin: $space-1;
      img {
      margin-right: $space-1;
      }
    }
    p {
      font-family: $default-font;
      color: #7792AE;
      font-size: 18px;
    }
  }

  .devops-image {
      @media only screen and (max-width: 1024px) {
        padding-right: $space-4;
      }
    }

  .devops-section {
    padding-left: $space-4;
    padding-right: $space-4;
    .devops-title {
      font-family: $secondary-font;
      font-size: 35px;
      .devops-title-snippet {
        color:  $color-primary;
      }
    }
    .devops-description {
      font-family: $default-font;
      color: #7792AE;
      font-size: 18px;
      @media only screen and (max-width: 1024px) {
        padding-right: $space-2;
      }
    }
    .devops-list{
      margin-left: -3rem;
      li {
        font-family: $secondary-font;
        font-size: 20px;
        list-style-type: none;
        color: #2C2D3E;
        margin: $space-1;
        img {
        margin-right: $space-1;
        }
      }
      @media only screen and (max-width: 1024px) {
        padding-left: $space-1;
        padding-top: $space-1;
        padding-bottom: $space-1;
      }
    }
    @media only screen and (max-width: 1024px) {
      padding: 0;
    }
  }

  .startup-section {
    background-color: $color-tertiary;
    h1 {
      font-family: $secondary-font;
      font-size: 35px;
      color:  $color-primary;
    }
    p {
      font-family: $default-font;
      color: #7792AE;
      font-size: 18px;
    }
    .startup-list{
      padding-left: $space-1;
      li {
        font-family: $secondary-font;
        font-size: 20px;
        list-style-type: none;
        color: #2C2D3E;
        margin: $space-1;
        img {
          margin-right: $space-1;
        }
      }
    } 
    .startup-image {
      padding-right: $space-4;
      padding-bottom: $space-4;
      @media only screen and (max-width: 1024px) {
        padding-right: $space-4;
        padding-left: $space-4;
      }
    }
  }

  .dinosauraas-section {
    .dinosaur-title {
      font-family: $secondary-font;
      font-size: 35px;
      @media only screen and (max-width: 1024px) {
        padding-left: $space-4;
        padding-top: $space-2;
      }
    }
    .dinosauraas-title-snippet {
      color: $color-primary;
    }
    .dinosaur-description {
      font-family: $default-font;
      color: #7792AE;
      font-size: 18px;
       @media only screen and (max-width: 1024px) {
        padding-left: $space-4;
      }
    }
     .dinosaur-list{
       margin-left: -3rem;
       li {
         font-family: $secondary-font;
         font-size: 20px;
         list-style-type: none;
         color: #2C2D3E;
         margin: $space-1;
          img {
           margin-right: $space-1;
          }
        }
        @media only screen and (max-width: 1024px) {
          padding-left: 7rem;
          margin-left: -$space-2;
          padding-bottom: $space-2;
        }
     } 
  }

   .dinosaur-button {
       @media only screen and (max-width: 1024px) {
          margin-left: $space-4;
        }
     }

  .quotes-container {
    background-color: $color-primary;
    .quotes-title {
      font-family: $tertiary-font;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    p {
      font-family: $default-font;
      font-size: 16px;
      color: white;
      padding-left: $space-2;
      padding-right: $space-2;
      margin: $space-1;
    }
    .quotes-section {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      margin-bottom: $space-2;
      .quotes-description {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        margin: auto;
        padding-top: $space-1;
        font-family: $default-font;
        line-height: 2;
      }
      .quote-one {
        padding-bottom: $space-4;
      }
      .quote-two {
        padding-bottom: $space-2;
      }
      .quote-four {
        padding-bottom: $space-2;
      }
      .quote-three {
         @media only screen and (max-width: 1024px) {
          padding-bottom: $space-2;
        }
      }
      .quote-image {
        padding-top: $space-1;
        margin-left: $space-1;
      }
      .quoted-person {
        padding-left: $space-2;
        .name {
          font-family: $tertiary-font;
        }
         @media only screen and (max-width: 1024px) {
          padding-left: rem;
        }
      }
    }
  }

  .news-container {
    .row {
      padding-left: $space-4; 
      padding-right: $space-4;
       @media only screen and (max-width: 1024px) {
         padding-left: 0;
         padding-right: 0;
         margin-right: 0;
      }
      .news-title {
        font-family: $tertiary-font;
        text-align: center;
        font-size: 35px;
      }
      .news-section {
        background-color: #EE5289;
        border-radius: 10px;
        margin-left: $space-3;
        @media only screen and (max-width: 1024px) {
         margin-bottom: $space-2;
         margin-left: $space-4;
        }
        .crop {
          height: 400px;
          overflow: hidden;
        }
        .crop img {
          height: 100%;
        }
      }
      .news-subtitle {
        font-family: $tertiary-font;
        font-size: 26px;
        color: white;
      }
      p {
        font-family: $default-font;
        font-size: 16px;
        color: white;
      }
    }
  }

  .contact-us-container {
      background-color: $color-tertiary;
    .contact-title {
      text-align: center;
      font-family: $default-font;
      font-size: 35px;
    }
    .phone-section {
      background-color: $color-primary;
      border-radius: 10px;
      color: white;
      height: 400px;   
      margin-left: $space-3;
      @media only screen and (max-width: 1024px) {
         margin-bottom: $space-2;
         margin-left: 4rem;
      }   
      .phone-title {
        font-family: $tertiary-font;
      }
      p {
        font-family: $default-font;
        font-size: 16px;
      }
    }
    .office-section {
      background-color: $color-primary;
      border-radius: 10px;
      color: white;
       .crop {
          height: 400px;
          overflow: hidden;
        }
        .crop img {
          height: 100%;
        }
      h1 {
        font-family: $tertiary-font;
      }
      .address {
        font-family: $default-font;
        font-size: 24px;
        list-style-type: none;
      }
      p {
        font-family: $default-font;
        font-size: 16px;
      }
    }
  }

.contact-form-container {
  .contact-form-section{
    h1 {
      font-family: $tertiary-font;
      font-size: 35px;
    }
    h2 {
      font-family: Proxima Nova;
      font-size: 18px;
    }

    input {
      border-color: $color-primary;
    }
    textarea {
      border-color: $color-primary;
    }
    .submit-button {
      background-color: $color-secondary;
      color: $white;
      font-family: $default-font;
      font-size: 20px;
      border-radius: 5px;
    }
  }
}

.footer-section {
  background-color: $color-primary;
  p {
    font-family: $default-font;
    font-size: 16px;
    color: white;
  }
}
