*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after { // (.clearfix)
  content: "";
  display: table;
  clear: both;
}

img{
  display: inline-block;
  //width:auto; // required for height: auto to work in IE8
  max-width:100%;
  height:auto;

  font-family: $font-body;
  font-weight: 300;
  line-height: 2;  
  text-align: center;

  position: relative;
}
ul{
  &.inline{
    li{
      display: inline;
    }
  }
  li{
    padding: 0;
    //border-bottom: 1px solid $grey7;
  }
}

section{
  clear: both;
}
.row{
  clear: both;
}


// FLEX
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column{
  flex-direction: column;
  flex: 1;
}
.flex-row{
  flex-direction: row;
  flex: 1;
}



.full-height{
  height: 100%;
}
.hide{
  display: none !important;
}
.hide-on-mobile{
  display: none;
}


// FLOATS
.clear{
  clear: both;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.pull-center{
  margin-left:auto;
  margin-right: auto;
}

// TEXT ALIGNMENT
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align:center;
}

.v-align{
  vertical-align: middle;
}

// IMAGE ALIGNMENT
.alignleft, img.alignleft { 
  margin-right: 1.5em; 
  display: inline; 
  float: left; 
}
.alignright, img.alignright { 
  margin-left: 1.5em; 
  display: inline; 
  float: right; 
}
.aligncenter, img.aligncenter { 
  margin-right: auto; 
  margin-left: auto; 
  display: block; 
  clear: both; 
}


.pad{
  padding: $padding $padding $padding $padding;
}
.pad-half{
  padding: $padding-half;
}
.padded{
  padding: 10vw;
}

.no-margin{
  margin: 0 !important;
}
